/* styles/LoadingScreen.css */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white; /* Adjust as needed */
  }
  
  .loading-logo {
    width: 200px; /* Adjust size */
    height: auto;
  }
  